<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.component.css">
  <title>Document</title>
</head>
<body>
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row" style="margin-top: 20px">
        <div class="col-md-6 offset-md-3">
          <img src="../../../assets/random 2.gif" width="300" height="300">
          <h1>Bienvenidos a mi humilde pagina web sin terminar :,v</h1> 
        </div>
      </div>
    </div>
  </div>
</body>
</html>
